* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.line {
  line-height: 1.2em;
  display: block;
}
.italicize {
  line-height: 1.2em;
  font-style: italic;
}
.first-line {
  line-height: 1.2em;
  display: block;
  margin-left: 1.5em;
}
.selected-line {
  background: yellow;
}
.paragraph {
  margin-top: 1em;
  margin-left: 1em;
}

.book-window {
  border: 0px solid black;
  margin: 0em;
  z-index: 0;
  padding: 0em;
}
.book-controls {
  width: 100%;
  z-index: 1;
  display: block;
  position: fixed;
}
.interface-top {
  border: 0px solid greenyellow;
  margin-bottom: 0em;
  position: fixed;
}

.interface-body {
  border: 0px solid salmon;
  margin: 0em;
}

#body-row {
  padding-top: 0em;
}
.book-text {
  border: 0px solid red;
}
.hover-marker {
  font-size: 1.5em;
  user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
}
.marker {
  user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
}
.annotationContainer {
  position: fixed;
  border: 2px solid black;
}
.annotationList {
  height: 90vh;
  width: 35em;
  margin: 1em;
  position: fixed;
  overflow: scroll;
}
.ui.segment.navbar {
  position: sticky;
  background: rgba(165, 42, 42, 1);
  z-index: 1;

  top: 0;
  left: 0;
}
.ui.segment.navbar > link {
  color: beige;
}
.title {
  text-align: center;
  display: block;
  font-size: 1.5em;
}
.author {
  text-align: center;
  font-style: italic;
  display: block;
}
.placeholder {
  text-align: center;
}
